PUBLIC_API_ENDPOINT=https://api.nemaleba.rs
PUBLIC_VAPID_KEY=
VAPID_PRIVATE_KEY=
VAPID_SUBJECT=mailto:kontakt@nemaleba.rs
PUBLIC_SITE_ORIGIN=
PUBLIC_BASE_PATH=
PUSH_ADMIN_ORIGIN=
PUSH_ADMIN_TOKEN=
SITE_ORIGIN=
